.container {
position:relative;
bottom: 130px;
left: 240px;
display: flex;
justify-content: center;
align-items: flex-end;
height: 40px;
}

.allButtonsContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 0 0 75px;
  transition: all .3s ease;
}

.hidden {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 0 0 75px;
  transform: translateX(-20px);
  transition: all .3s ease;
}

.hide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 0 0 75px;
  animation-name: hide;
  animation-duration: .3s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.title {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding-top: 15px;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  z-index: 1;
}

.editPhotoButtonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 0 35px 75px;
}

.warningMessage{
  position: absolute;
  bottom: -35px;
  width: 270px;
  margin-right: 40px;
  color: var(--red);
  text-decoration: underline;
  text-align: center;
}

.loadImgButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.loadImgButton{
  display: none;
}

.loadImgButtonLabel{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 20px;
  margin-right: 40px;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
  transition: all .3s;
  cursor: pointer;
}
.loadImgButtonLabel:hover{
  color: var(--white);
  background-color: var(--primary);
}

.deleteButton{
  transition: all .4s;
}

.deleteButton:hover{
  transform: scale(1.1);
}

