.container {
  position:fixed;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
  bottom: 1rem;
}

.imgActivityContainer{
position: relative;
bottom:35px;
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
}

.allButtonsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7rem;
  transition: all .3s ease;
}

.hidden {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: all .3s ease;
}

.hide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.title {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  z-index: 1;
}

.editPhotoButtonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.containerTrashOrLoad {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.warningMessage{
  width: 12rem;
  color: var(--red);
  text-decoration: underline;
  text-align: center;
  font-size: .6rem;
}

.warningMessageActivityContainer {
  border-radius:5px;
  padding:5px;
  background-color: var(--red);
  width:50%;
  margin:20px 0;
  text-align:center;
}

.warningMessageActivityContainer p{
  font-size:10px;
  padding:0;
  margin:0;
}

.warningMessageActivity{
  position: absolute;
  bottom: -45px;
  width: 270px;
  margin-right: 40px;
  color: var(--red);
  text-decoration: underline;
  text-align: center;
}

.loadImgButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 6rem;
  background-color: var(--white);
  box-shadow: 0 1px 10px -3px black ;
}

.loadImgButtonContainer span{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 1rem;
  height: 1rem;
  font-size: .5rem;
  transition: all .2s;
  cursor: pointer;
}

.loadImgButtonContainer span:hover{
  transform: scale(1.1);
}

.loadImgButton{
  display: none;
}

.loadImgButtonLabelActivity{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
  transition: all .3s;
  cursor: pointer;
}

.loadImgButtonLabel{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
  transition: all .3s;
  cursor: pointer;
}
.loadImgButtonLabel:hover{
  color: var(--white);
  background-color: var(--primary);
}

.imgPlaceholder{
  width: 50px;
  height: 50px;
}

.deleteButton{
  display: flex;
  align-items: center;
  font-size: .8rem;
  height: 1.5rem;
  transform: scale(.8);
  transition: all .4s;
}

.deleteButton:hover{
  transform: scale(1);
}
