.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  transition: all .5s;
  cursor: pointer;
}
.iconBox:hover{
  background-color: rgba(168, 172, 171, 0.274);
  filter: brightness(1) invert();

}