.container {
  margin: 30px 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.75);
}

.form {
  margin: 30px 0;
  display: flex;
  gap: 20px;
  color: #373867;
}

.buttonsGroup {
  display: flex;
}

.inputContainer {
  display: grid;
}

.title {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  color: #373867;
}

.radioMainContainer{
  display:flex;
  flex-direction:column;
  border:solid 1px #373867;
  padding:10px;
  border-radius: 10px;
  box-shadow: 0px 5px 8px -5px #373867;
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioContainer div {
  margin: 0 10px;
  font-size: 15px;
}
