.modalAlert {
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #d25050; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 10px; /* Padding */
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  border-radius: 20px;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titleModal {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

.textModal {
  margin: 5px 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #000000;
}

.btnClose {
  padding: 5px;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
