.form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 400px;
}
.form{
  padding-bottom: 30px;
}
.formTitle {
  margin-bottom: 70 px;
  font-family: 'Roboto', sans-serif;
  color: #373867;
  font-size: 30px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs input {
  padding-left: 5px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.buttons button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.cancelButton button:hover {
  color: #fff;
  background-color: #ea3354;
}
