.form .container {
  margin: 30px 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.75);
  border: 3px solid #373867;
}
.form {
  padding-bottom: 30px;
}
.formTitle {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  color: #373867;
  margin: 0 0 30px 0;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs input {
  padding-left: 5px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}
