.admin_input_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  padding: 5px 5px;
  margin-bottom: 25px;
}
.labelText{
  width: 40%;
  font-size: 14px;
  font-weight: 400;
  color: rgba(55, 56, 103, 0.4);
}
.inputBox{
  border: none;
  width: 60%;
  text-align: end;
  font-size: 14px;
  font-weight: 600;
  color: rgba(55, 56, 103, 1);
  padding: 5px;
  border: 1px solid transparent;
}
.inputBox:focus{
  /* border: 1px solid #373867;
  border-radius: 5px; */
  outline: none;
}
