.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSuperAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}