.modalAlert {
  min-width: 450px;
  max-width:500px;
  margin-left: -125px;
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  display: flex;
  justify-content:space-between;
  transition:  all 0.5s ease;
}

.modalAlert:hover{
  background-color: var(--ligth-red);
}

.infoContainer{
  display:flex;
  gap:15px;
}

.textContainer{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  gap:4px;
}

.title {
  margin:0;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--black);
}

.errorMessage {
  color: var(--black);
  font-size:0.9rem;
  margin:0;
}

.icons {
  background-color: transparent;
  border: 0;
  width:25px;
  color:var(--black);
  transition:0.3s all;
}

.iconsClose {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width:25px;
  color:var(--black);
  transition:0.2s all;
}
.iconsClose:hover{
  width:28px;
}