.container{
  margin-bottom: 50px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 1044px;
  border: 1px solid rgba(128, 128, 128, 0.63);
  border-radius: 5px;
}

tr{
  height: 48px;
}
td{
  font-size: 16px;
  text-align: center;
}

thead tr th:first-child,
tbody tr td:first-child{
  text-align: start;
}

thead tr th{
  text-align: center;
  color: #373867;
}

thead tr{
  background-color:  rgba(55, 56, 103, 0.247);;
}

thead tr th:first-child,
tbody tr td:first-child{
  padding-left: 10px;

}
tbody tr td:first-child{
  color: #373867;
  font-weight: 600;
}
tbody tr td{
  color: #373867b6;

}

tr:nth-child(even) {
  background-color: #9bceba33;
}

tbody tr td:nth-last-child(-n+2){
  padding-left: 25px;
}


.trash_edit {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.noneTrainer{
  padding: auto;
  height: 300px;
  font-size: 64px;
  text-align: center !important;
  background-color: #d9d9d9ea;
}




