.form {
    margin-bottom: 40px;
    width: 50%;
    color: #373867;
    font-weight: bold;

}

.subContainer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #373867;
    padding: 8px;
    justify-content: space-around;
    padding: 20px 0;
    height: 250px;
}

.input {
    padding: 5px;
    border: 1px solid #373867;
    border-radius: 5px;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.button {
    width: 130px;
    height: 50px;
    margin: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #373867;
}

.button:first-child {
    background-color: #AACE9B;
    border: 1px solid #AACE9B;
    border-radius: 10px;
}

.button:last-child {
    border: 1px solid #373867;
    border-radius: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}