.form {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #373867;
    font-weight: bold;
    width: 650px;
}
.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap:20px;
    
}
.sub_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.buttonContainer{
  margin-top: 10px;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}