.container{
display: flex;
justify-content: center;
align-items: center;
}
.profileImg{
  width: 35px;
  height: 35px;
  border: 1px solid var(--black);
  border-radius: 100%;
  box-shadow: 1px 0px 25px -8px rgba(0,0,0,0.75);
}
.defaultImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--dark-grey);
  border: 1px solid var(--black);
  border-radius: 100%;
}
.profileInitials{
  display: flex;
  gap: .05rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
}
.profileInfoContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 4px;
  margin-left: 5px;
}
.userName{
  margin:-5px 0 0 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
}
.userEmail{
margin: 0 0 0 3px;
padding: 0;
font-size: 0.7rem;
color: white;
}
.userRole{
margin: -10px 0 0 0;
padding: 0;
font-size: 0.6rem;
color: white;
}

.links {
  text-decoration: none;
}