.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}

aside {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #aace9b;
  height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.switchContainer {
  display: flex;
  justify-content: center;
  width: 85%;
}

.asideContainer {
  height: auto;
  width: 15%;
}
