.noneTrainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 10rem;
  border-radius: 5px;
  background-color: #d9d9d9ea;
  font-size: 30px;
  margin: 4rem auto;
}

.container {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #d9d9d9ea;
  color: #373867;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 6px 30px -7px rgba(0, 0, 0, 0.75);
  margin: 20px 0;
}

.table tr td,
.table tr th {
  padding: 15px 10px 15px 20px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
  transition: all 0.1s;
}

.table tr td:nth-last-child(-n + 2):hover {
  background-color: #37386700;
  transform: scale(1.2);
}

.table tr td:hover {
  transform: scale(1.1);
  max-width: 280px;
  background-color: #353090b2;
  color: #fff;
  cursor: pointer;
}

.rowBackground1 {
  background-color: #aace9b90;
}

.rowBackground2 {
  background-color: #ffffff;
}

.trash_edit {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
