.noneTrainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 50px;
  border-radius: 5px;
  background-color: #d9d9d9ea;
  font-size: 30px;
}

.container {
  width: 80%;
  position: relative;
  left: 14rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #d9d9d9ea;
  color: #373867;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 30px -7px rgba(0, 0, 0, 0.75);
  margin:20px 0;
}

.table tr td,
.table tr th {
  padding: 10px;
  text-align: left;
}

.rowBackground1 {
  background-color: #aace9b90;
}

.rowBackground2 {
  background-color: #ffffff;
}

.trash_edit {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
