.modalAlert {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
}
.close_icon{
  align-self: flex-end;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.modalStyles {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 308px;
  background-color: white;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.titleModal {
  margin-top: -10px;
  margin-left: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}
.textModal {
  margin-top: -15px;
  margin-left: 37px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color:#373867 ;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 37px;
  margin-top: 15px;
  gap: 30px;
}
.buttons > * {
  width: 160px;
  height: 82px;
  border-radius: 11.5px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  padding: 5px;
}
.btnAccept {
  background-color: #AACE9B;
  color: #373867;
  border: none;
}
.btnAcceptDelete{
  background:#F13312 ;
  color: #ffffff;
  border: none;
}
.btnCancel {
  background: #ffffff;
}