.modalAlert {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
}
.modalHeader {
  background-color: var(--primary);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 5px;
}

.imgContainer {
  position: absolute;
  margin-top: 20px;
  margin-left: 564px;
}

.close_icon {
  filter:invert();
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close_icon:hover{
  filter: invert() opacity(50%);
}

.modalStyles {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 220px;
  background-color: var(--white);
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  gap: 30px;
}

.titleModal {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}
.textModal {
  margin-top: -12px;
  margin-left: 37px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary);
}
.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 37px;
  margin-top: 15px;
  gap: 30px;
}
.buttons > * {
  width: 110px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}
.btnAccept {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  transition: 0.2s ease;
}

.btnAccept:hover {
  background-color: var(--primary);
  color: var(--white);
  font-size: 17px;
}

.btnAcceptDelete {
  background: var(--red);
  color: var(--white);
  border: none;
}
.btnCancel {
  background: var(--white);
  color: var(--primary);
  border: var(--primary) solid;
  transition: 0.2s ease;
}

.btnCancel:hover {
  background-color: var(--primary);
  color: var(--white);
  font-size: 17px;
}

.animation{
  animation-name: scale-up-center;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes scale-up-center {
  0% {
    transform:scale(.2);
  }
  100% {
    transform:scale(1);
  }
}
.animationModalExit{
animation-name: scale-down-center;
animation-duration: 1.2s;
animation-timing-function: ease-out;
animation-delay: 0s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: none;
}
@keyframes scale-down-center {
0% {
  transform:scale(1);
}
100% {
  transform:scale(0);
}
}
.animationExit {
animation-name: fadeOut;
animation-duration: 0.3s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
}
@keyframes fadeOut {
from {
  opacity: 1;
}
to {
  opacity: 0;
}
}