.containerTableSubscription {
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin: 2rem;
  color: #32326a;
}

.addButton {
  display: flex;
  align-self:flex-end;
  background-color: #32326a00;
  border: none;
  margin: 0 2rem 2rem 0;
  width: 8rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #32326a;
  cursor: pointer;
}

.containerTable {
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.37) 0 0.4rem 0.9rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.containerTable thead {
  background-color: #37386710;
  border-radius: 0.2rem;
  height: 3.5rem;
}

.containerTable thead tr {
  background-color: #37386710;
}

.containerEmpty {
  position: relative;
  left: 25em;
}

.containerEmpty div {
  width: 100%;
}

.containerEachSubscription tr {
  height: 3.5rem;
}

.containerEachSubscription tr:nth-child(even) {
  background-color: #aace9b3f;
}

.tableIcons {
  background-color: #32326a00;
  border: none;
  cursor: pointer;
}