.inputPlaceholder-container input {
  width: 260px;
  height: 20px;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  border-color: #373867;
}

.inputPlaceholder-container {
  display: flex;
  flex-direction: column;
}
