.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--Blue);
}

.form {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

.inputGroups {
  display: flex;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.submitButton {
  display: inline;
  background-color: var(--Green);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  margin-button: 10px;
}

.submitButton:hover {
  background-color: var(--Blue);
  color: white;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.nameLabel {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioContainer div{
 margin: 0 10px;
 font-size: 15px;
}
