.containerModal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--Blue);
}
.containerForm {
  margin: 30px 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.75);
  border: 3px solid var(--Blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.containerForm h3 {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  color: var(--Blue);
  margin: 0 0 30px 0;
}
.containerForm .containerAdd {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 380px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 1px solid var(--dark-grey);
  background-color: var(--light-grey);
  border-radius: 5px;
  gap: 5px;
  overflow-y: auto;
}
.listMembers{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eachMember{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--secondary-dark);
  color: var(--primary);
  font-weight: 500;
  border-radius: 10px;
  padding: 0 5px;
  gap: 5px;
  position: relative;
}
.inputMemberContainer {
  margin-top: 30px;
}
.hidden {
  display: none;
}
.formEdited {
  display: flex;
  align-items: center;
}
.icon {
  width: 12px;
  margin: 0 10px;
  cursor: pointer;
}
.searchInput {
  margin: 0 10px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 4px;
}
.boxClose{
  display: flex;
  justify-content: flex-end;
}
.close_icon {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: all 1s;
}
.close_icon:before,
.close_icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background-color: var(--black);
  transform-origin: center;
}
.close_icon:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close_icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close_icon:hover{
  background-color: #bdabab93;
  width: 15px;
  height: 15px;
  transition: all 1s;
  border-radius: 30px;
}
.speechBalloon {
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateX(-70%);
  background-color: var(--light-grey);
  border-radius: 5px;
  height: 30px;
  margin-right: -80px;
  margin-top: -60px;
  padding-left: 10px;
  z-index: 2;
}
.speechBalloon::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 90%;
  transform: translateX(-55%);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--light-grey);
}
.speechElements{
  display: flex;
  gap: 15px;
  justify-content: center;
  z-index: 2;
}
.boxClick{
  margin-top: 19px;
  margin-right: 5px;
}