.container {
  display: flex;
  flex-direction: column;
  gap:20px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.containerBody {
  display: flex;
  flex-direction: column;
}

.Title {
  color: var(--white);
}

.Text {
  color: var(--white);
}

.sectionTitleWhite {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--secondary-dark);
  color: var(--white);
}

.sectionTitleBlue {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--secondary-dark);
  color: var(--primary);
}

.sectionHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerSectionHead img {
  width: 200px;
  height: 200px;
}

.bannerVideo {
  width: 100%;
  z-index: -1;
}

.containerSectionHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.containerSectionHead h1 {
}

#sectionHeadWelcome {
}

.spanSectionHead {
  width: 100%;
  text-align: center;
}

.sectionHead span img {
  width: 90%;
}

.sectionFeatures {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.sectionFeaturesTitles {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
}

.featuresIcons {
  width: 50px;
}

.sectionFeaturesArticles p {
  width: 95%;
  font-size: 14px;
  color: var(--white);
  font-size: 18px;
}

.sectionFeatures {
}

.sectionFeaturesTitles {
  font-size: 20px;
}

.sectionFeaturesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 8rem;
}

.sectionFeaturesArticles {
  width: 50%;
}

.sectionAboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sectionAboutContainer p {
  width: 95%;
}

.sectionAboutImage{
  width: 45%;
  border: solid 5px var(--secondary-dark);
  border-radius: 5px;
}

.getInTouch {
  background-color: var(--white);
}

.sectionTouchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.sectionTouchForm div {
  display: flex;
  flex-direction: column;
}

.formButtonTop {
  display: none;
}

.formInput {
  width: 260px;
  height: 36px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.formInput::placeholder {
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sectionTouchForm select {
  width: 270px;
  height: 36px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sectionTouchForm textarea {
  width: 265px;
  height: 210px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.sectionTouchForm textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sectionTouchForm label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary);
}

.formButton {
  width: 76px;
  height: 33px;
  border-width: 0px;
  border-radius: 5px;
  background: var(--secondary);
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: var(--primary);
}


.sectionActivitiesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-stretch: 100;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: var(--primary);
}

.sectionActivitiesList div {
  display: flex;
  flex-direction: column;
}


.sectionActivitiesList div li {
  width: 70px;
  text-align: center;
  font-size: 25px;
  list-style: none;
}

.sectionActivities img {
  width: 90%;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
  border: solid 5px var(--secondary-dark);
}

.memberships {
  background-color: var(--primary);
}

.sectionMembership {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: var(--primary);
}

.cardMembership {
  display: flex;
  background-color: var(--white);
  width: 300px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.cardTitle {
  font-size: 40px;
  color: var(--secondary-dark);
  line-height: 1;
}

.cardBody {
  display: flex;
  color: var(--primary);
  align-items: center;
  flex-direction: column;
  height: 220px;
}

.cardBody li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  gap: 12px;
}

.cardInfo {
  background-color: var(--secondary-dark);
  color: var(--white);
  display: flex;
  font-size: 20px;
  height: 60px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.checkIcon {
  width: 20px;
}

.benefitsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 13px;
  margin: 0;
  padding: 0;
}

.benefitsList img {
  margin: 0;
  padding: 0;
}
.benefitsList p {
  margin: 0;
  padding: 0;
}

.sectionMembershipTable {
  width: 90%;
  margin: 0px 10px 0px 10px;
  border-collapse: collapse;
  text-align: center;
}

.tableTh1 {
  width: 40%;
}

.tableTh2 {
  width: 25%;
}

.tableTh3 {
  width: 17%;
}

.sectionMembershipTable tr:nth-child(odd) {
  background-color: var(--ligth-grey);
}

.sectionMembershipTable tr {
  height: 60px;
}

.sectionAboutTextDesktop {
  display: flex;
}

.sectionAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionAboutFlexContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 80%;
}

.sectionAboutImg {
  display: flex;
  order: 1;
}

.sectionActivities {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sectionActivitiesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  font-size: 20px;
}

.sectionActivities li {
  margin-bottom: 10px;
}

.sectionActivities img {
  width: 55%;
  margin-right: 50px;
}

@media only screen and (max-width: 601px) {

  .sectionAboutFlexContainer{
    gap:50px;
  }

  .sectionAboutImage{
    width:100%;
  }

  .sectionAboutContainer p{
    margin:0;
    padding:0;
  }

  .sectionAboutContainer{
    flex-direction:column;

  }
  .memberships {
    display: none;
  }
  .sectionHead {
    flex-direction: row;
  }

  .containerSectionHead {
    display: flex;
    flex-direction: column;
  }

  #sectionHeadWelcome {
    display: flex;
    font-size: 20px;
    line-height: 23px;
    color: var(--secondary-dark);
  }

  .spanSectionHead {
    width: 50%;
  }

  .spanSectionHead img {
    min-height: 190px;
  }

  .sectionFeatures{
    display:flex;
  }

  .sectionFeaturesContainer {
    flex-direction: column;
    gap:20px;
    padding:0;
    width:100%;
    margin-left:0;
    align-items:center;
  }

  .Text{
    margin: 10px 10px;
  }

  .sectionFeaturesArticles{
    width:80%;
    padding:0;
  }

  .activities{}

  .sectionActivities{
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
    justify-content:center;
    gap:20px;
  }

  .sectionActivities img {
    width: 90%;
    margin: 0px;
    border-radius: 5px;
    border: solid 5px var(--secondary-dark);
  }

  .sectionActivitiesList{
    margin:0;
    padding:0;
    flex-direction:row;
    align-items:flex-start;
    width:50%;
    justify-content:space-between;
  }

  .activitiesListTop{
  
  }

  .activitiesListBot{
 
  }

  .formButtonTop {
    display: flex;
    justify-content: center;
    width: 123px;
    height: 47px;
    font-size: 16px;
    background: var(--secondary);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary);
    cursor: pointer;
  }

  .sectionTouchForm div {
    display: flex;
    flex-direction: column;
  }
}
