.container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.containerBody {
  display: flex;
  flex-direction: column;
  margin-top: 73px;
}

.Title {
  font-weight: 700;
  font-size: 50px;
  line-height: 47px;
  color: var(--white);
}

.Text {
  font-size: 30px;
  line-height: 42px;
  color: var(--white);
}

.sectionTitleWhite {
  margin-top: 0px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: var(--secondary-dark);
  font-size: 40px;
  line-height: 35px;
  color: var(--white);
  margin-top: 30px;
}

.sectionTitleBlue {
  margin-top: 0px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: var(--secondary-dark);
  font-size: 40px;
  line-height: 35px;
  color: var(--primary);
  margin-top: 30px;
}

.sectionHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.containerSectionHead img {
  width: 200px;
  height: 200px;
  margin-bottom: -30px;
}

.bannerVideo {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  margin-top: -310px;
}

.containerSectionHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.containerSectionHead h1 {
  margin-bottom: 0px;
}

#sectionHeadWelcome {
  display: none;
}

.spanSectionHead {
  width: 100%;
  text-align: center;
}

.sectionHead span img {
  width: 90%;
}

.sectionFeatures {
  text-align: left;
  margin-bottom: 30px;
}

.sectionFeaturesArticles {
  margin-top: 30px;
}

.sectionFeaturesTitles {
  width: 100%;
  text-transform: capitalize;
  font-weight: 876;
  font-size: 16px;
  line-height: 28px;
  color: var(--white);
}

.sectionFeaturesArticles img {
  vertical-align: middle;
  margin-left: 50px;
}

.sectionFeaturesArticles p {
  width: 95%;
  margin: 20px 20px 20px;
  font-size: 14px;
  color: var(--white);
}

.sectionAboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: left;
}

.sectionAboutContainer p {
  width: 95%;
  margin: 20px 10px 20px 20px;
}

.sectionAboutTextDesktop {
  display: none;
}

.sectionAboutContainer img {
  width: 90%;
  margin: 0px 10px 0px 10px;
  border: solid 5px var(--secondary-dark);
  border-radius: 5px;
}

.sectionAboutContainer button {
  width: 82px;
  height: 32px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background: var(--white);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: var(--primary);
  margin-bottom: 20px;
}

.getInTouch {
  background-color: var(--white);
}

.sectionTouchForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
}

.sectionTouchForm div {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0px 20px 0px 20px;
}

.formButtonTop {
  display: none;
}

.formInput {
  width: 260px;
  height: 36px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.formInput::placeholder {
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sectionTouchForm select {
  width: 270px;
  height: 36px;
  padding-left: 10px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sectionTouchForm textarea {
  width: 265px;
  height: 210px;
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.sectionTouchForm textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-top: 10px;
  padding-left: 10px;
}

.sectionTouchForm label {
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary);
}

.formButton {
  align-self: flex-end;
  width: 76px;
  height: 33px;
  margin-top: 30px;
  border-width: 0px;
  border-radius: 5px;
  background: var(--secondary);
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  color: var(--primary);
}

.sectionActivities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.sectionActivitiesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-transform: capitalize;
  font-stretch: 100;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: var(--primary);
}

.sectionActivitiesList div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.activitiesListTop {
  align-items: end;
}

.activitiesListBot {
  align-items: start;
  text-align: center;
}

.sectionActivitiesList div li {
  width: 70px;
  text-align: center;
  font-size: 25px;
  list-style: none;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-right: 80px;
}

.sectionActivities img {
  width: 90%;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
  border: solid 5px var(--secondary-dark);
}

.memberships {
  background-color: var(--primary);
}

.sectionMembership {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: var(--primary);
}

.cardMembership {
  display: flex;
  background-color: var(--white);
  width: 300px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.cardTitle {
  font-size: 40px;
  color: var(--secondary-dark);
  line-height: 1;
  margin-top: 20px;
}

.cardBody {
  display: flex;
  color: var(--primary);
  align-items: center;
  flex-direction: column;
  height: 220px;
}

.cardBody ul {
  margin-left: -38px;
}

.cardBody li {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.cardInfo {
  background-color: var(--secondary);
  color: var(--white);
  display: flex;
  font-size: 20px;
  height: 60px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.sectionMembershipTable {
  width: 90%;
  margin: 0px 10px 0px 10px;
  border-collapse: collapse;
  text-align: center;
}

.tableTh1 {
  width: 40%;
}

.tableTh2 {
  width: 25%;
}

.tableTh3 {
  width: 17%;
}

.sectionMembershipTable tr:nth-child(odd) {
  background-color: var(--ligth-grey);
}

.sectionMembershipTable tr {
  height: 60px;
}

@media only screen and (min-width: 601px) {
  .sectionHead {
    flex-direction: row;
    margin-top: 30px;
  }

  .containerSectionHead {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #sectionHeadWelcome {
    display: flex;
    font-size: 20px;
    line-height: 23px;
    color: var(--secondary-dark);
  }

  .spanSectionHead {
    width: 50%;
  }

  .spanSectionHead img {
    min-height: 190px;
  }

  .sectionFeatures {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    margin-bottom: -6px;
  }

  .sectionFeaturesTitles {
    font-size: 20px;
  }

  .sectionFeaturesTitles img {
    margin-left: 20px;
  }

  .sectionFeaturesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sectionFeaturesArticles {
    width: 50%;
  }

  .sectionFeaturesArticles p {
    font-size: 18px;
  }

  .sectionAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -230px;
    background-color: var(--white);
  }

  .formButtonTop {
    display: flex;
    justify-content: center;
    width: 123px;
    height: 47px;
    font-size: 16px;
    margin-top: 30px;
    border-width: 0px;
    border-radius: 5px;
    background: var(--secondary);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary);
  }

  .sectionTouchForm div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 10px 0px 0px;
  }

  .formButton {
    display: none;
  }

  .sectionAboutFlexContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px 20px 0px 20px;
  }

  .sectionAboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .sectionAboutContainer p {
    width: 45%;
    font-size: 14px;
  }

  .sectionAboutTextDesktop {
    display: flex;
  }

  .sectionAboutTextMobile {
    display: none;
  }

  .sectionAboutImg {
    display: flex;
    order: 1;
  }

  .sectionAboutContainer img {
    width: 45%;
  }

  .sectionAboutContainer button {
    display: none;
  }

  .sectionActivities {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sectionActivitiesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    list-style: disc;
  }

  .activitiesListTop,
  .activitiesListBot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionActivities li {
    margin-bottom: 10px;
  }

  .sectionActivities img {
    width: 55%;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1025px) {
  .sectionHead {
    justify-content: space-evenly;
    margin-bottom: 80px;
    height: 100vh;
  }

  .containerSectionHead {
    width: 100%;
    margin-top: -200px;
  }

  #sectionHeadWelcome {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 100;
  }

  .spanSectionHead {
    width: 40%;
  }

  .spanSectionHead img {
    max-width: 515px;
    max-height: 315px;
  }

  .sectionFeaturesTitles {
    display: flex;
    flex-direction: row;
    font-size: 24px;
  }

  .sectionFeaturesTitles img {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 43px;
    max-height: 38px;
  }

  .sectionFeaturesContainer {
    justify-content: space-evenly;
  }

  .sectionFeaturesArticles {
    width: 35%;
  }

  .sectionFeaturesArticles p {
    font-size: 20px;
    margin-bottom: 35px;
  }

  .sectionAboutContainer p {
    font-size: 20px;
    line-height: 35px;
  }

  #sectionAboutContainerTop p {
    text-align: left;
  }

  .sectionTouchForm select {
    width: 400px;
    height: 36px;
  }

  .sectionTouchForm textarea {
    width: 400px;
    height: 210px;
  }
}
