.backgroundLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.600);
  animation: showContainer .8s;
  color: white;
  z-index: 999;
}

@keyframes showContainer {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes showLoader {
  0%{
    transform: scale(0);

  }
  100%{
    transform: scale(1);
  }
}

.containerLoader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 18rem;
  height: 17rem;
  animation: showLoader 0.2s;
  background-color: var(--primary);
}

.containerMuscle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  animation: mucleUp 1s ease infinite;
}

@keyframes mucleUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.containerLoader .containerMuscle .logoCenter {
  width: 4.8rem;
  height: 4.8rem;
  animation-delay: .3s;
}

.containerLoader .containerMuscle .muscleRigth {
  position: relative;
  top: 1rem;
  width:1.5rem;
  height: 1.5rem;
  transform: rotateY(180deg) translateX(-1.9rem);
  animation: mucleRigth .6s ease-in-out;
}

.containerLoader .containerMuscle .muscleLeft {
  position: relative;
  top: 1rem;
  width:1.5rem;
  height: 1.5rem;
  transform: translateX(-1.9rem);
  animation: mucleLeft .6s ease-in-out;
}

@keyframes mucleRigth {
  0% {
    transform: translateX(-9rem) rotateY(180deg);
  }
  100% {
    transform: translateX(1.9rem) rotateY(180deg);
  }
}

@keyframes mucleLeft {
  0% {
    transform: translateX(9rem);
  }
  100% {
    transform: translateX(-1.9rem);
  }
}

.subContainerLoader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loadsRoller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loadsRoller div {
  animation: loadsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
@keyframes loadsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadsDefault {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 8rem;
  height: 80px;
}
.loadsDefault div {
  position: relative;
  top: .4rem;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  animation: loadsDefault 1.2s linear infinite;
}
.loadsDefault div:nth-child(1) {
  animation-delay: 0s;
}
.loadsDefault div:nth-child(2) {
  animation-delay: 0.1s;
  left: .65rem;
}
.loadsDefault div:nth-child(3) {
  animation-delay: 0.2s;
  left: .8rem;
}

@keyframes loadsDefault {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.barLoader {
  overflow: hidden;
  width: 100%;
  height: .8rem;
  text-align: center;
  font-size: .6rem;
  font-weight: bold;
  background-color: var(--secondary-dark);
  animation: loadBar 1s ease-in-out;
}

@keyframes loadBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}