.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 70px;
  background-color: var(--Blue);
}

.brand {
  font-weight: bold;
  font-size: 1.4rem;
  color:white;
}

.socialIcon {
  margin-left: 15px;
  filter: invert();
}

.profileMenu{
  position: relative;
  right: -230px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 20%;
  }
}
