.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 50px;
  background-color: #373867;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
  color:white;
}

.socialIcon {
  margin-left: 15px;
  filter: invert();
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 20%;
  }
}
