.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  height: 100vh;
}
.rutes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  gap: 30px;
  margin-top: 5rem;
}

.navbarLink {
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
  transition: 0.2s color;
  font-weight: 400;
}

.navbarLink span {
  display: none;
}

.navbar:hover .navbarLink > span {
  display: flex;
}

.navbarLink:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

.navbarLink.active {
  color: white;
}

.navIcon {
  width: 1.5rem;
}

.logoutButton {
  display: none;
}

/* .navbarLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primary);
  transition: 0.1s;
}

.navbarLink img {
  width: 1rem;
  height: 1rem;
}
.navbarLink:hover {
  transform: scale(1.05);
  color: var(--white);
} */
/* .rutes .homeButtons {
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
  height: 1.6rem;
  transition: all 0.2s;
}
.rutes .homeButtons .navbarLinkButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100px;
  height: 100%;
  font-weight: 500;
  padding-bottom:10px;
}

.navIcon {
  width: 1.5rem;
}

.rutes .homeButtons:hover {

}
.rutes .homeButtons .navbarLinkButtons:hover {
  color:var(--primary);
  border-bottom: var(--primary) 1px solid;
}

.containerContactInformation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 9rem;
  height: 18rem;
  gap: 0.8rem;
}
.containerContactInformation h5 {
  color: var(--white);
  text-decoration: underline;
  text-align: center;
}
.containerContactInformation a {
  display: flex;
  gap: 0.5rem;
  max-width: 8rem;
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.1s;
}
.containerContactInformation a:hover {
  transform: scale(1.03);
}
.containerContactInformation a img {
  width: 0.8rem;
  height: 0.8rem;
} */
