.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 70px;
  transition: all 0.4s;
  background-color: var(--secondary);
  overflow: hidden;
}
.navbar:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100vh;
  transition: all 0.4s;
  background-color: var(--secondary);
}
.rutes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
  padding: 0;
  list-style-type: none;
  gap: 40px;
}
.navbarLink {
  display: flex;
  gap: 15px;
  padding-left: 10px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary);
  align-items: center;
  transition: 0.2s color;
  font-weight: 400;
  transition: all 0.2s;
}
.navbarLink span {
  display: none;
}
.navbar:hover .navbarLink > span {
  display: flex;
}
.navbarLink:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  border-left: 1px solid black;
}
.navbarLink.active {
  color: white;
  filter: brightness(0) invert() drop-shadow(2px 2px 4px var(--primary));
}
.navIcon {
  width: 1.5rem;
}
.logoutButton {
  position: absolute;
  margin-left: 10px;
  bottom: 15%;
}

@media only screen and (max-width: 868px) {
  .navbar{
    display:none;
  }
}
