.optionInput {
  width: 230px;
  height: 30px;
  border: 1px solid #999;
  font-size: 14px;
  color: var(--primary);
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 2px 2px #f0f0f0;
  cursor: pointer;
}

.selectOption {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: var(--primary);
  cursor: pointer;
}

.containerInput {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 30px;
}

.error {
  margin-left: 5px;
  color: rgb(240, 8, 8);
  font-size: 12px;
  width: 230px;
  text-align: left;
}

.spaceErrorMsg {
  margin-top: 0;
}

.errorInput {
  border: 2px solid var(--red);
  margin-top: 0;
}

.nameLabel {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-right: 20px;
  margin: 10px 0;
  transition: 0.2s ease;
  color: var(--primary);
  font-weight:500;
}

.labelError {
  color: var(--red);
  font-size: 19px;
}

.errorLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  background-color: var(--red);
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
}

.errorContainer{
  display:flex;
  align-items:center;
  gap:10px;
}

@media screen and (max-width:1200px) {
  .containerInput {
    align-items: center;
  }

  .errorContainer{
    align-items:center;
    gap:1px;
    margin-right: -30px;
  }
}