.logButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 35px;
  margin-left: -13px;
}
.logImg{
  width: 25px;
  height: 25px;
}
.logText{
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #373867;
}

.logButton:hover{
  transform: scale(1.05);
  transition: all 0.2s;
}

.logButton:hover .logText {
  color: #ffffff;
}