.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373867;
  position:relative;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #FFF;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  padding: 0 20px;
  background-color: #AACE9B;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
}

.socialIcon {
  margin-left: 5px;
}

.containerSocial a img {
  transition: all .2s;
}

.containerSocial a img:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 750px) {
  .main {
    padding: 0 20%;
    width: unset;
  }

  .license {
    padding: 0 20px;
    width: calc(60% - 40px);
  }

  .socialIcon {
    margin-left: 15px;
  }
}