.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  position:relative;
}

.main {
  display: flex;
  justify-content:center;
  gap:50px;
  align-items: center;
  padding: 0 5%;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--white);
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  padding: 0 20px;
  background-color: var(--secondary);
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
}

.socialIcon {
  margin-left: 5px;
}

.containerSocial a img {
  transition: all .2s;
}

.containerSocial a img:hover {
  transform: scale(1.3);
}

.contact{
  display:grid;
  gap:5px;
}

.infoTitle{
  font-size:14px;
  font-weight:500;
  color:var(--secondary);
  padding:0;
  margin:0;
}

.info{
  color:var(--white);
  font-size:10px;
  padding:0;
  margin:0;
}

@media screen and (max-width: 868px){
  .contact{
    display:none;
  }
}

@media screen and (min-width: 750px) {
  .main {
    padding: 0 20%;
    width: unset;
  }

  .license {
    padding: 0 20px;
    width: calc(60% - 40px);
  }

  .socialIcon {
    margin-left: 15px;
  }
}