.radioMainContainer {
  display: flex;
  flex-direction: column;
  border: solid 1px #373867;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 8px -5px #373867;
}

.radioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  width: 30rem;
  border-radius: 1rem;
  margin: 30px 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 30px -5px rgba(0, 0, 0, 0.75);
  border: 3px solid #373867;
}

.containerForm h3 {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  color: #373867;
  margin: 0 0 30px 0;
}

.containerForm .containerAddButton {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-direction: row;
  margin-top: 1.5rem;
}
