body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  --Blue: #373867;
  --Green: #aace9b;
  --White: #ffffff;
  --Black: #000000;
  --DarkGreen: #49a37b;
  --LightGreen: #d2e3cc;
  --LightGrey: #d9d9d9;
  --DarkGrey: #3c4752;
  --Red: #fa5955;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
