.modalAlert {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modalStyles {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 308px;
  background-color: white;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;

}
.close_icon{
  align-self: flex-end;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.text_cont{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 35px;
}
.titleModal {
  margin-top: -10px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color:#49A37B ;
}
.textModal {
  margin-top: -15px;
  font-size: 25px;
  font-weight: 500;
  color: #373867;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 37px;
  margin-top: 30px;
}
.btnAccept {
  width: 160px;
  height: 82px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 11.5px;
  background: #AACE9B ;
  border: none;
  color: #373867;
  font-weight: bold;
}