.containerForm{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.75);
}
.boxInput{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.inputForm{
  margin: 0 15px;
}
.buttonsBox{
  display: flex;
  justify-content: center;
}