.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background-color: var(--black);
}

.activityCard {
  display: flex;
  width: 30%;
  height: 30%;
  min-width: 350px;
  background-color: transparent;
  border-bottom: var(--primary);
}

.activityCardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 0 5px 5px 0;
}

.cardImage {
  border-radius: 5px 0 0 5px;
}

.cardSubtitle {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  color: var(--primary);
}

.cardDescription {
  margin: 10px;
  font-size: 12px;
  color: var(--primary);
}

.activityCardButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cardButton {
  width: 83px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
  background-color: var(--white);
  transition: all .2s ease;
}

.cardButton:hover {
  font-size: .8rem;
}

.cardButtonJoin {
  color: var(--secondary-dark);
  border: solid var(--secondary-dark);
  transition: all .2s ease;
}

.cardButtonJoin:hover {
  transform: scale(1.05);
  font-size: 1rem;
  background-color: #00000000;
  color: var(--secondary-dark);
}

@media only screen and (min-width: 601px) {
  .activityCard {
    width: 40%;
    height: 40%;
    min-width: 350px;
  }

  .cardImage {
    height: 80%;
  }

  .activityCardText {
    width: 80%;
    height: 80%;
  }

  .cardSubtitle {
    margin: 16px;
    font-size: 16px;
  }

  .cardDescription {
    margin: 16px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1025px) {
  .activityCard {
    width: 30%;
    height: 40%;
    min-width: 410px;
  }

  .cardImage {
    height: 80%;
  }

  .cardSubtitle {
    margin: 20px;
    font-size: 20px;
  }

  .cardDescription {
    margin: 20px;
    font-size: 15px;
  }
}
