.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.700);
}

.activityCard {
  display: flex;
  width: 30%;
  height: 30%;
  min-width: 350px;
  background-color: transparent;
  border-bottom: var(--primary);
}

.activityCardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 0 5px 5px 0;
}

.cardImage {
  border-radius: 5px 0 0 5px;
}

.cardSubtitle {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  color: var(--primary);
}

.cardDescription {
  margin: 10px;
  font-size: 12px;
  color: var(--primary);
}

.activityCardButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cardButton {
  margin: 5px;
  width: 80px;
  height: 40px;
  background-color: white;
  border: solid black 1px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--primary);
  line-height: 20px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 500;
}

.cardButton:hover {
  font-size: .8rem;
}

.cardButtonJoin {
  border: none;
  background-color: var(--secondary);
  color: black;
}

.cardButton:hover{
  background-color: var(--primary);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  font-size: 12px;
}

@media only screen and (min-width: 601px) {
  .activityCard {
    width: 40%;
    height: 40%;
    min-width: 350px;
  }

  .cardImage {
    height: 80%;
  }

  .activityCardText {
    width: 80%;
    height: 80%;
  }

  .cardSubtitle {
    margin: 16px;
    font-size: 16px;
  }

  .cardDescription {
    margin: 16px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1025px) {
  .activityCard {
    width: 30%;
    height: 40%;
    min-width: 410px;
  }

  .cardImage {
    height: 80%;
  }

  .cardSubtitle {
    margin: 20px;
    font-size: 20px;
  }

  .cardDescription {
    margin: 20px;
    font-size: 15px;
  }
}
