.wholeContainer {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
}
.container {
  display: flex;
  flex-direction: column;
  width: 620px;
  background-color: var(--white);
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.boxClose{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 10px;
}
.close_icon {
  width: 25px;
  height: 25px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: all 1s;
}
.close_icon:before,
.close_icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 2px;
  background-color: var(--black);
  transform-origin: center;
}
.close_icon:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close_icon:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.close_icon:hover{
  background-color: #bdabab93;
  width: 25px;
  height: 25px;
  transition: all 1s;
  border-radius: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
  gap: 30px;
}
.buttons > * {
  width: 110px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}
.btnAcceptDelete {
  background: var(--red);
  color: var(--white);
  border: none;
  transition: 0.2s ease;

}
.btnAcceptDelete:hover {
  background-color: rgb(247, 53, 53);
  color: var(--white);
  font-size: 20px;
  transition: 0.2s ease;

}
.btnCancel {
  background: var(--white);
  color: var(--primary);
  border: var(--primary) solid;
  transition: 0.2s ease;
}
.btnCancel:hover {
  background-color: var(--primary);
  color: var(--white);
  font-size: 20px;
  transition: 0.2s ease;
}
.title{
  color: var(--primary);
}
.subtitle{
  margin-top: -10px;
  color: var(--primary);

}
.textModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}