@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  display: flex;
  flex-direction: column;
}

.classTitle {
  font-family: 'Roboto', sans-serif;
  color: #373867;
  text-align:center;
  position:relative;
  left:15%;
}
