.normalInput {
  width: 255px;
  border: 1px solid;
  height: 25px;
  border-radius: 4px;
}
.nameLabel label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.error {
  margin-top: 3px;
  margin-left: 5px;
  color: rgb(240, 8, 8);
  font-size: 12px;
  width: 255px;
  height: 30px;
}
.errorInput {
  border: 2px solid red;
  margin-top: 0;
}
.spaceErrorMsg{
  margin-top: 0;
  height: 30px;
}